**/target
**/__pycache__
.env
/.context-pilot
snake
tldr_debug.log
issues.md
test
WORKING_CONFIG_CAPTURED.md
CLAUDE_CODE_UPDATE_2.1.44.md_lorem.txt
.context-pilot-backup
.claude/
test.md
report/code-audit.md
test
output
!.context-pilot/shared/
test-typst
brilliant-cv/cv.pdf
brilliant-cv/cv.typ
brilliant-cv/metadata.toml
brilliant-cv/modules_en/education.typ
brilliant-cv/modules_en/professional.typ
brilliant-cv/modules_en/projects.typ
brilliant-cv/modules_en/skills.typ
brilliant-cv/modules_fr/certificates.typ
brilliant-cv/modules_fr/education.typ
brilliant-cv/modules_fr/professional.typ
brilliant-cv/modules_fr/projects.typ
brilliant-cv/modules_fr/publications.typ
brilliant-cv/modules_fr/skills.typ
brilliant-cv/modules_zh/certificates.typ
brilliant-cv/modules_zh/education.typ
brilliant-cv/modules_zh/professional.typ
brilliant-cv/modules_zh/projects.typ
brilliant-cv/modules_zh/publications.typ
brilliant-cv/modules_zh/skills.typ
graceful-genetics/a-mail.png
graceful-genetics/main.typ
check_sender
increment.txt
workdir/
increment.txt
.env.local
